<div class="card text-center animated fadeIn fast">
    <div class="card-header">
      {{amigurumi.nombre | uppercase}}
      <small>({{amigurumi.aparicion | date:'Y' }})</small>
    </div>
    <div class="card-body">
      <h5 class="card-title animated fadeIn">{{amigurumi.nombre}}</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <img [src]="amigurumi.img" class="img-fluid" [alt]="amigurumi.nombre">
      <a  [routerLink]="['/amigurumis']" class="btn btn-primary">Regresar</a>
    </div>
    <div class="card-footer text-muted">
      {{amigurumi.bio}}
      <img *ngIf="amigurumi.casa == 'DC'" class="img-logo" src="assets/img/DC.png" alt="">
      <img *ngIf="amigurumi.casa == 'Marvel'" class="img-logo" src="assets/img/Marvel.png" alt="">
    </div>
  </div>