<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <!-- <h2 class="text-center mb-4">Vista Por Días</h2>  -->
    <button class="btn btn-primary" (click)="toggleAll()">
      {{ allCollapsed ? 'Expandir Todos' : 'Contraer Todos' }}
    </button>
    <br><br>
  </div>

  <div class="row">
    <div class="col-4" *ngFor="let dia of dias">
      <div class="card shadow-lg">

        <div class="card-header text-center bg-primary text-white" style="font-size: 1.2rem; font-weight: bold;">
          {{ dia.dia }}
          <input type="text"
          placeholder="Ingresa clave para agregar" 
                 maxlength="8" 
                 class="form-control mt-2" 
                 [(ngModel)]="dia.inputValue" 
                 (input)="validateInput($event, dia)" 
                 (keydown.enter)="onEnter(dia)">
        </div>

        <div class="card-body">
          <div class="mb-3">
            <h3 class="h6">
              <a *ngIf="dia.empleados && dia.empleados.length > 0" 
                 class="league-name" 
                 data-bs-toggle="collapse" 
                 href="#collapse{{dia.id}}" 
                 role="button" 
                 aria-expanded="true" 
                 [attr.aria-controls]="'collapse' + dia.id">
                Ver Empleados
              </a>
              <span *ngIf="!dia.empleados || dia.empleados.length === 0" 
                    class="text-danger">
                No existen empleados asignados
              </span>
            </h3>
            <hr/>
            <div [ngClass]="allCollapsed ? '' : 'show'" class="collapse" id="collapse{{dia.id}}">
              <!-- Iteración sobre los empleados dentro de cada día -->
              <div *ngFor="let empleado of dia.empleados; let i = index" class="mb-2 d-flex justify-content-between align-items-center">
                <div class="row w-100">
                  <div class="col"><strong>{{ empleado.nombreCompleto }}</strong></div>
                  <div class="col"><small>{{ empleado.claveEmpleado }}</small></div>
                  <div class="col"><button class="btn btn-danger btn-sm" (click)="eliminarEmpleado(dia.id, empleado.claveEmpleado)">Eliminar</button></div>
                </div>
              </div>
              

            </div>
          </div>
        </div>
        <!-- <div class="card-footer text-muted text-center">
        </div> -->
      </div>
    </div>
  </div>
</div>
