

   <!-- <div class="col">
    <div class="card h-100 animated fadeIn fast">
      <img [src]="empleado.mainPicture" class="card-img-top" [alt]="empleado.nombreCompleto" height="60%">
      <div class="card-body">
        <h5 class="card-title" style="color: #10446b;">{{ empleado.nombreCompleto }}</h5>
        <p class="card-text" style="color: #11577c;">Clave: <span style="color: #10446b;">{{ empleado.claveEmpleado }}</span></p>
        <p class="card-text" style="color: #11577c;">Fecha: <span style="color: #10446b;">{{ empleado.fecha }}</span></p>
        <h3 class="card-text" style="color: #11577c;">Accesos</h3>
  
        <div class="people-list" style="max-height: 200px; overflow-y: auto;">
          <ul class="list-group">
            <div *ngFor="let acceso of empleado.accesos">
              <li class="list-group-item d-flex align-items-center">
                <img alt="" class="rounded-circle me-3" [src]="acceso.secondaryPath" style="width: 50px; height: 50px;" (click)="openImage(acceso.secondaryPath)">
                <div class="about">
                  <div class="status text-muted" style="color: #11577c;">
                    <i class="fa fa-reply text-danger me-1"></i>{{ formatFechaHora(acceso.fechaHora) }}
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  <app-foto-empleado-modal></app-foto-empleado-modal>
  </div> -->
  

  <div class="col">
    <div class="card h-100 animated fadeIn fast">
      <img [src]="empleado.mainPicture" class="card-img-top" [alt]="empleado.nombreCompleto">
      <div class="card-body">
        <h5 class="card-title" style="color: #10446b;">{{ empleado.nombreCompleto }}</h5>
        <p class="card-text" style="color: #11577c;">Clave: <span style="color: #10446b;">{{ empleado.claveEmpleado }}</span></p>
        <p class="card-text" style="color: #11577c;">Fecha: <span style="color: #10446b;">{{ empleado.fecha }}</span></p>
        <h3 class="card-text" style="color: #11577c;">Accesos</h3>
  
        <div class="people-list" style="max-height: 200px; overflow-y: auto;">
          <ul class="list-group">
            <div *ngFor="let acceso of empleado.accesos">
              <li class="list-group-item d-flex align-items-center">
                <img alt="" class="rounded-circle me-3" [src]="acceso.secondaryPath" style="width: 50px; height: 50px;" (click)="openImage(acceso.secondaryPath)">
                <div class="about">
                  <div class="status text-muted" style="color: #11577c;">
                    <i class="fa fa-reply text-danger me-1"></i>{{ formatFechaHora(acceso.fechaHora) }}
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
        
      </div>
      <div class="card-footer"></div>
    </div>
  


  </div>
  